body{
    margin: 20px;
}

.avatar {
    width: 150px;
    border: 10px 10px black;
    box-shadow: 10px 10px 5px #180d0c5b;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin : 0 auto;
    text-align: center;
    color: #2b2839;
    background-color: #e56225;
    border-radius: 5px;
    border-bottom: 10px solid #fdc836;
    text-shadow: 3px 3px 5px #180d0c5b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 5px 5px 20px #2b2839;
}

.Description :hover{
    color: #fdc836;
    cursor: pointer;
    text-shadow: -1px 0 #2b2839, 0 1px #2b2839, 1px 0 #2b2839, 0 -1px #2b2839;
}